.presto{
	position         : relative;

	overflow         : hidden;
	height           : 100%;

	background-color : #BDC3C7;
}

	.presto__errorBar{
		position         : absolute;
		display          : none;
		bottom           : 0px;

		width            : 100%;
		padding          : 15px;

		background-color : #E74C3C;
		font-size        : 1.3em;
		color            : white;
	}


	.topbar__home{
		margin-right : 10px;
		margin-left  : 10px;
		font-size    : 2em;
	}



	.presto__main{
		position   : absolute;
		top        : 50px;
		bottom     : 0;

		overflow   : hidden;
		overflow-y : auto;
		height     : auto;
		width      : 100%;
	}


		.staticContainer{
			float      : left;

			overflow-y : auto;
			max-height : 100%;
			width      : 40%;
			min-width  : 400px;
			max-width  : 550px;
		}


		.flowContainer{
			overflow   : hidden;
			overflow-y : auto;
			height     : 100%;
			min-width  : 250px;
		}

		.flowContainer .tile{
			display        : inline-block;
			vertical-align : top;
		}

/*
		.flowContainer{
			overflow  : hidden;
			height    : 100%;
			min-width : 250px;
		}

			.flowContainer__tiles{
				overflow-x  : auto;
				height      : 100%;
				white-space : nowrap;
			}

				.flowContainer__tiles .tile{
					display        : inline-block;
					vertical-align : top;
				}
*/





.tile{
	margin           : 15px;
	padding          : 15px;
	background-color : white;
}

	.tile__topbar{
		height        : 40px;
		margin-bottom : 10px;
	}

		.tile__title{
			display        : inline-block;
			vertical-align : top;

			padding-right  : 10px;

			font-size      : 1.8em;
			font-weight    : 300;
			line-height    : 40px;
		}

		.tile__buttons{
			float       : right;
			opacity     : 1;
			line-height : 40px;
		}
			.tile__buttons > div{
				float         : left;

				padding-right : 5px;
				padding-left  : 5px;

				cursor        : pointer;
				opacity       : 0.3;
				line-height   : 40px;
			}

				.tile__buttons > div:hover{
					opacity : 1;
				}

		.tile__topbar:hover .tile__buttons{
			opacity : 1;
		}









.codeEditor{
	position         : absolute;
	top              : 60px;
	right            : 10px;
	z-index          : 1000;

	height           : 500px;
	width            : 500px;
	min-width        : 300px;
	padding-bottom   : 147px;

	background-color : white;
	border-bottom    : 5px solid #2C3E50;
}

	.codeEditor__topbar{
		padding          : 8px;

		cursor           : move;
		background-color : #2C3E50;
		font-size        : 1.3em;
		color            : white;
		border-bottom    : 2px solid #34495E;
	}

		.codeEditor__topbar__title{
			font-size   : 1.3em;
			font-weight : 300;
		}

		.codeEditor__topbar__close{
			float : right;
		}

		.codeEditor__topbar__docsLink{
			display         : inline;

			margin-left     : 10px;

			font-size       : 0.5em;
			color           : white;
			text-decoration : none;
			text-transform  : uppercase;
		}

		.codeEditor__editor{
			position   : relative;
			height     : auto;
			min-height : 100%;
		}

			.codeEditor__editor .CodeMirror{
				position : absolute;
				top      : 0;
				right    : 0;
				bottom   : 0;
				left     : 0;

				height   : auto;
			}

				.codeEditor__editor__errorLine{
					background-color : rgba(231, 76, 60,0.5);
				}


	.codeEditor__footer{
		position : absolute;
		bottom   : 0px;
		width    : 100%;
	}

		.codeEditor__footer__messages > *{
			display : none;
			padding : 10px;
			color   : white;
		}

		.codeEditor__footer__messages__success { background-color:#2ECC71;}
		.codeEditor__footer__messages__error   { background-color:#E74C3C;}
		.codeEditor__footer__messages__info    { background-color:#95A5A6;}

		.codeEditor__footer__buttons{
			font-size  : 1.3em;
			text-align : center;
			border-top : 1px solid #eee;
		}
