/* COLORS
	http://flatuicolors.com/

	.teal-light    {color:#1ABC9C;}
	.teal          {color:#16A085;}
	.green-light   {color:#2ECC71;}
	.green         {color:#27AE60;}
	.blue-light    {color:#3498DB;}
	.blue          {color:#2980B9;}
	.purple-light  {color:#9B59B6;}
	.purple        {color:#8E44AD;}
	.steel-light   {color:#34495E;}
	.steel         {color:#2C3E50;}
	.yellow-light  {color:#F1C40F;}
	.yellow        {color:#F39C12;}
	.orange-light  {color:#E67E22;}
	.orange        {color:#D35400;}
	.red-light     {color:#E74C3C;}
	.red           {color:#C0392B;}
	.silver-light  {color:#ECF0F1;}
	.silver        {color:#BDC3C7;}
	.grey-light    {color:#95A5A6;}
	.grey          {color:#7F8C8D;}
*/

html { height: 100%; }

body{
	height      : 100%;
	font-family : 'Lato', sans-serif;
}

input{
	font-family : 'Lato', sans-serif;
}

.clickable{
	cursor  : pointer;
	opacity : 1.0;
}
	.clickable:hover{
		opacity : 0.7;
	}


.button{
	display          : inline-block;
	vertical-align   : top;

	margin           : 10px;
	padding-top      : 0.6em;
	padding-right    : 1em;
	padding-bottom   : 0.6em;
	padding-left     : 1em;

	cursor           : pointer;
	background-color : #7F8C8D;
	font-size        : 1em;
	color            : white;
	text-align       : center;
}
.button:hover     {background-color:#95A5A6;}
	.button i{
		margin-right : 0.3em;
	}

	.button.teal               {background-color:#16A085;}
		.button.teal:hover     {background-color:#1ABC9C;}
	.button.green              {background-color:#27AE60;}
		.button.green:hover    {background-color:#2ECC71;}
	.button.blue               {background-color:#2980B9;}
		.button.blue:hover     {background-color:#3498DB;}
	.button.purple             {background-color:#8E44AD;}
		.button.purple:hover   {background-color:#9B59B6;}
	.button.steel              {background-color:#2C3E50;}
		.button.steel:hover    {background-color:#34495E;}
	.button.yellow             {background-color:#F39C12;}
		.button.yellow:hover   {background-color:#F1C40F;}
	.button.orange             {background-color:#D35400;}
		.button.orange:hover   {background-color:#E67E22;}
	.button.red                {background-color:#C0392B;}
		.button.red:hover      {background-color:#E74C3C;}
	.button.silver             {background-color:#BDC3C7;}
		.button.silver:hover   {background-color:#ECF0F1;}
	.button.grey               {background-color:#7F8C8D;}
		.button.grey:hover     {background-color:#95A5A6;}

	.button.disabled{
		background-color : #BDC3C7;
	}
		.button.disabled:hover{
			background-color : #BDC3C7;
		}


.adminbox{
	position : absolute;
	bottom: 0px;
	left: 0px;
	background-color: #C0392B;
	color : white;
	padding : 10px;
	z-index : 1500;
}
	.adminbox i{
		font-size: 1.3em;
	}




.topbar{
	position         : fixed;
	z-index          : 1000;

	height           : 50px;
	width            : 100%;

	background-color : #2980B9;
	color            : white;
}

	.topbar > div{
		display        : inline-block;
		vertical-align : top;
		line-height    : 50px;
	}

	.topbar__title{
		font-size   : 2em;
		font-weight : 300;
	}

	.topbar__admin{
		margin-left : 50px;
	}


	.topbar__button{
		float         : right;

		padding-right : 10px;
		padding-left  : 10px;

		cursor        : pointer;
		line-height   : 50px;
	}
		.topbar__button:hover{
			background-color : #3498DB;
		}

	/* Topbar Colors */
	.topbar.teal  {background-color:#16A085;}
	.topbar.green {background-color:#27AE60;}
	.topbar.blue  {background-color:#2980B9;}
	.topbar.purple{background-color:#8E44AD;}
	.topbar.steel {background-color:#2C3E50;}
	.topbar.yellow{background-color:#F39C12;}
	.topbar.orange{background-color:#D35400;}
	.topbar.red   {background-color:#C0392B;}
	.topbar.silver{background-color:#BDC3C7;}
	.topbar.grey  {background-color:#7F8C8D;}

		.topbar.teal .topbar__button:hover    {background-color:#1ABC9C;}
		.topbar.green .topbar__button:hover   {background-color:#2ECC71;}
		.topbar.blue .topbar__button:hover    {background-color:#3498DB;}
		.topbar.purple .topbar__button:hover  {background-color:#9B59B6;}
		.topbar.steel .topbar__button:hover   {background-color:#34495E;}
		.topbar.yellow .topbar__button:hover  {background-color:#F1C40F;}
		.topbar.orange .topbar__button:hover  {background-color:#E67E22;}
		.topbar.red .topbar__button:hover     {background-color:#E74C3C;}
		.topbar.silver .topbar__button:hover  {background-color:#ECF0F1;}
		.topbar.grey .topbar__button:hover    {background-color:#95A5A6;}


