<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<body>

	<!-- Libraries -->
	<script type="text/javascript" src="../libs/jq.js"></script>
	<script type="text/javascript" src="../libs/underscore.js"></script>
	<script type="text/javascript" src="../libs/moment.js"></script>
	<link rel="Stylesheet" type="text/css" href="../libs/hint.css" />


	<!-- MVC -->
	<script type="text/javascript" src="../libs/backbone.js"></script>
	<script type="text/javascript" src="../libs/xo.js"></script>

	<!-- Style -->
	<link rel="Stylesheet" type="text/css" href="../style/reset.css" />
	<link rel="Stylesheet" type="text/css" href="../style/presto.css" />
	<link rel="Stylesheet" type="text/css" href="../style/home.css" />

	<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>


	<script>

	//alert("<%= title %>");

		$(document).ready(function(){



			/*
			groups = [
				{
					id : 'tax',
					name : "Taxes",
					color : 'red',
					icon : 'icon-legal'
				},
				{
					id : 'credit',
					name:' Credit',
					color : 'orange',
					icon : 'icon-credit-card'
				},
				{
					id : 'investment',
					name :'Investment',
					color : 'green',
					icon : "icon-money"
				}
			];
	*/

			CALCS = [
				{
					id          : 'ltc',
					title       : 'LTC Price Comparison',
					description : 'A realy swanky way to figure out the differnece between an guarded and ungaurded benefit claim',
					color       : 'blue',
					icon        : 'icon-bullhorn',
					url         : 'calculator.html',
				},
				{
					id          : 'rort',
					title       : 'Rate of Return Tracker',
					description : 'A realy swanky way to figure out the differnece between an guarded and ungaurded benefit claim',
					color       : 'green',
					icon        : 'icon-money',
					url         : 'rort',
				},
				{
					id          : 'split',
					title       : 'Income Split',
					description : 'A realy swanky way to figure out the differnece between an guarded and ungaurded benefit claim so much more text you cant even handle',
					color       : 'orange',
					icon        : 'icon-credit-card',
					url         : 'http://google.ca',
				}


			];

			Presto = new Presto_Block_Home();
		});

	Presto_Block_Home = XO.Block.extend({
		block : 'home',

		render : function()
		{
			var self = this;

			_.each(CALCS, function(calculator){
				self.addCalculator(new Presto_Model_Calculator(calculator));
			});


			this.dom.newCalculatorButton.click(function(){
				var test = new Presto_Model_Calculator();
				test.save();
			});
			return this;
		},

		addCalculator : function(calculatorModel)
		{
			var newBlock = new Presto_Block_CalculatorOption(calculatorModel);
			newBlock.injectInto(this.dom.container);
			return this;
		},


	})



	Presto_Block_CalculatorOption = XO.Block.extend({
		schematic : 'calculator',

		render : function()
		{
			var self = this;

			this.model.onChange('color', function(){
				self.dom.block.addClass(self.model.get('color'));
			});
			this.model.onChange('title', function(){
				self.dom.title.text(self.model.get('title'));
			});
			this.model.onChange('description', function(){
				self.dom.description.text(self.model.get('description'));
			});
			this.model.onChange('icon', function(){
				self.dom.icon.find('i').addClass(self.model.get('icon'));
			});
			this.model.onChange('url', function(){
				self.dom.link.attr('href', self.model.get('url'));
			});

			return this;
		},


	});

	Presto_Model_Calculator = XO.Model.extend({
		urlRoot : '/api/calculator',
		defaults : {
			title : 'Cool newness',
			description : 'Click here to edit the calculator',
			icon : 'icon-question',
			color : 'orange'
		}

	});



	</script>



	<div class='sidebar'>
		<img class='sidebar__logo' src='../assets/rabbit hat.png'></img>
		<div class='sidebar__text'>Presto</div>

	</div>


	<div class='content' xo-block='home'>
		<!--
		<div class='content__title'>Presto Calculators</div>

		<div class='content__search'>
			<i class='icon-search'></i>
			<input type='text'></input>

		</div>

		<div class='content__groups'>
			<div class='content__groupsContainer' style='max-width:700px;'>

				<div class='button green disabled'><i class='icon-gear'></i> Edit</div>
				<div class='button blue'><i class='icon-cut'></i> Stuff</div>
				<div class='button orange'><i class='icon-link'></i> Taxes</div>
				<div class='button green'><i class='icon-gear'></i> How does this look with longer text</div>
				<div class='button blue'><i class='icon-cut'></i> Pretty cool</div>
				<div class='button orange'><i class='icon-link'></i> I concur</div>
				<div class='button green'><i class='icon-gear'></i> Edit</div>
				<div class='button blue'><i class='icon-cut'></i> Stuff</div>
				<div class='button orange'><i class='icon-link'></i> Taxes</div>

			</div>
		</div>


<div class='groupContainer' xo-element='groupContainer'>

	<div class='group'>
		<div class='group__title'><i class='icon-plane'></i> <span class='group__text'>Flight</span> </div>
		<div class='calcContainer'>
		</div>
	</div>
</div>

	-->

		<div class='calculator newCalculator yellow' xo-element='newCalculatorButton'>
			<div class='calculator__icon' xo-element='icon'><i class='icon-plus'></i></div>
			<div class='calculator__info'>
				<div class='calculator__info__title' xo-element='title'>New Calculator</div>
				<div class='calculator__info__description' xo-element='description'>Click here to create a new calculator</div>
			</div>
		</div>

		<div class='calculatorContainer' xo-element='container'>
			<!-- Calculators go here! -->
		</div>
	</div>


	<!-- Schematics -->
	<div class='calculator' xo-schematic='calculator'>
		<a xo-element='link' target="_blank">
			<div class='calculator__icon' xo-element='icon'><i></i></div>
			<div class='calculator__info'>
				<div class='calculator__info__title' xo-element='title'></div>
				<div class='calculator__info__description' xo-element='description'></div>
			</div>
		</a>
	</div>


</body>
</html>