<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

	<!-- Libraries -->
	<script type="text/javascript" src="libs/jq.js"></script>
	<script type="text/javascript" src="libs/underscore.js"></script>

	<!-- MVC -->
	<script type="text/javascript" src="libs/backbone.js"></script>
	<script type="text/javascript" src="libs/archetype.js"></script>
	<script type="text/javascript" src="libs/xo.js"></script>

	<!-- Style -->
	<link rel="Stylesheet" type="text/css" href="style/reset.css" />
	<link rel="Stylesheet" type="text/css" href="style/presto.css" />
	<link rel="Stylesheet" type="text/css" href="style/admin.css" />

	<link href='libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

</head>



<body xo-view='admin'>

	<title>Presto Admin</title>

	<script>
	console.log(<%- inspect(routes) %>);

	</script>

	<div class='sidebar'>


	</div>


	<div class='content'>

		ADMIN!

	</div>

</body>
</html>
