<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>

	<!-- Libraries -->
	<script type="text/javascript" src="libs/jq.js"></script>
	<script type="text/javascript" src="libs/underscore.js"></script>

	<!-- MVC -->
	<script type="text/javascript" src="libs/archetype.js"></script>
	<script type="text/javascript" src="libs/xo.js"></script>

	<!-- Style -->
	<link rel="Stylesheet" type="text/css" href="style/reset.css" />
	<link rel="Stylesheet" type="text/css" href="style/presto.css" />
	<link rel="Stylesheet" type="text/css" href="style/admin.css" />

	<link href='libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>

</head>



<body xo-view='admin'>

	<title>Presto Admin</title>

	<script>
		var endpoints = <%- inspect(routes) %>;


		var EndpointGroup = xo.view.extend({
			schematic : 'endpointGroup',

			initialize : function()
			{
				this.collection = this.model;
				return this;
			},

			render : function()
			{
				var self = this;


				this.dom.url.text(this.collection.model.urlRoot);

				this.collection.on('add', function(endpointModel){
					//self.dom.count.text(self.collection.length);

					var newView = EndpointView.create(endpointModel).injectInto(self.dom.endpointContainer);
				});

				return this;
			}


		});


		var EndpointView = xo.view.extend({
			schematic : 'endpoint',

			render : function()
			{
				var self = this;

				this.dom.url.text(":    -" + this.model.id);

				this.dom.block.click(function(){
					$('.test').val(self.model.script || self.model.toJSON());
				})


				return this;
			},
		});


		$(document).ready(function(){

			$('#run').click(function(){
				var code = $('.test').val();
				console.log(code);

				eval("with (this) {var result = (" + code + ")}");

				console.log(result);


			});


			data = _.map(endpoints, function(ep){

				var col = xo.collection.extend({
					model : xo.model.extend({
						urlRoot : ep
					})
				});



				var view = EndpointGroup.create(col);
				view.injectInto($('body'));


				col.fetch();

				return col;
			});

		});




	</script>

	<div class='sidebar'>


	</div>


	<div class='content'>

		ADMIN!

		<textarea class='test'>
		</textarea>
		<button id='run'>run</button

	</div>


	<div xo-schematic='endpointGroup'>
		<span xo-element='url'></span>
		<span xo-element='count'></span>
		<div xo-element='endpointContainer'></div>
	</div>

	<div xo-schematic='endpoint'>
		<span xo-element='url'></span>
	</div>

</body>
</html>
