<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>


	<!-- Libraries -->
	<script type="text/javascript" src="../libs/jq.js"></script>
	<script type="text/javascript" src="../libs/underscore.js"></script>
	<script type="text/javascript" src="../libs/moment.js"></script>
	<script type="text/javascript" src="../libs/widget.js"></script>
	<script type="text/javascript" src="../libs/archetype.js"></script>
	<script type="text/javascript" src="../libs/jquery.flot.min.js"></script>
	<link rel="Stylesheet" type="text/css" href="../libs/hint.css" />
	<!-- remote
	<link href="../http://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
	<link href='../http://fonts.googleapis.com/css?family=Lato:400,300' rel='stylesheet' type='text/css'>
	-->
	<!-- local -->
	<link href='../libs/lato/lato.css' rel='stylesheet' type='text/css'>
	<link href='../libs/font-awesome/css/font-awesome.css' rel='stylesheet' type='text/css'>


	<!-- CodeMirror -->
	<script src="../libs/codemirror/cm.js"></script>
	<link  href="../libs/codemirror/cm.css" rel="stylesheet">
	<script src="../libs/codemirror/javascript.js"></script>


	<!-- MVC -->
	<script type="text/javascript" src="../libs/backbone.js"></script>
	<script type="text/javascript" src="../libs/xo.js"></script>


	<!-- Style -->
	<link rel="Stylesheet" type="text/css" href="../style/reset.css" />
	<link rel="Stylesheet" type="text/css" href="../style/presto.css" />
	<link rel="Stylesheet" type="text/css" href="../style/calculator.css" />



	<!--
		PRESTO
	-->


	<!-- Engine -->
	<script type="text/javascript" src="../js/Presto.js"></script>
	<script type="text/javascript" src="../js/engine/Prototypes.js"></script>
	<script type="text/javascript" src="../js/engine/CalculatorBlueprintModel.js"></script>
	<script type="text/javascript" src="../js/engine/ModuleBlueprint.js"></script>
	<script type="text/javascript" src="../js/engine/OverlayBlock.js"></script>

	<%if (user.account_type == 'admin') { %>
		<script type="text/javascript" src="../js/engine/CodeEditorBlock.js"></script>
	<% } %>

	<!-- Modules -->
	<script type="text/javascript"             src="../js/modules/Inputs.js"></script>
	<link rel="Stylesheet" type="text/css" href="../style/modules/Inputs.css" />
	<script type="text/javascript"             src="../js/modules/Outputs.js"></script>
	<link rel="Stylesheet" type="text/css" href="../style/modules/Outputs.css" />
	<script type="text/javascript"             src="../js/modules/Tables.js"></script>
	<link rel="Stylesheet" type="text/css" href="../style/modules/Tables.css" />
	<script type="text/javascript"             src="../js/modules/Charts.js"></script>
	<link rel="Stylesheet" type="text/css" href="../style/modules/Charts.css" />
	<script type="text/javascript"             src="../js/modules/Global.js"></script>
	<script type="text/javascript"             src="../js/modules/CoolFunctions.js"></script>
</head>


<body>

	<script>

		Presto.start({
			calc : <%- inspect(calc) %>
		});

	</script>



	<div class='presto' xo-block='calculator'>

		<title xo-element='windowTitle'></title>


		<div class='topbar' xo-element='topbar'>
			<div class='topbar__home'>
				<i xo-element='icon'></i>
			</div>

			<div class='topbar__title' xo-element='title'></div>

			<%if (user.account_type == 'admin') { %>
				<div class='topbar__editCalc topbar__button' xo-element='launchEditorButton'>
					<i class='icon-code'></i>
				</div>
			<% } %>

			<div class='topbar__refreshCalc topbar__button hint--bottom' xo-element='refreshButton' data-hint='Update'>
				<i class='icon-refresh'></i>
			</div>

			<div class='topbar__account topbar__button'>
				<%= user.email %>
			</div>

		</div>



		<!-- Main Area -->
		<div class='presto__main' xo-element='main'>
			<div class='staticContainer' xo-element='staticContainer'></div>
			<!--<div class='flowContainer'>
				<div class='flowContainer__tiles' xo-element='flowContainer'></div>
			</div>
		-->
			<div class='flowContainer' xo-element='flowContainer'>
			</div>
		</div>

		<!-- Error Bar -->
		<div class='presto__errorBar' xo-element='errorBar'>
			<i class='icon-exclamation-sign'></i> <span></span>
		</div>

	</div>

	<!-- Code Editor -->
	<%if (user.account_type == 'admin') { %>
		<div class='codeEditor' xo-block='codeEditor' style='display:none'>
			<div class='codeEditor__topbar' xo-element='topbar'>
				<div class='codeEditor__topbar__close clickable' xo-element='closeButton'><i class='icon-remove card'></i></div>
				<span class='codeEditor__topbar__title'>Code Editor</span>
				<a class='codeEditor__topbar__docsLink' href="https://github.com/stolksdorf/Presto/blob/master/README.md" target='_blank'>View Documentation</a>
			</div>
			<div class='codeEditor__editor' xo-element='editor'></div>
			<div class='codeEditor__footer'>
				<div class='codeEditor__footer__messages'>
					<div class='codeEditor__footer__messages__success' xo-element='success'>
						<i class='icon-ok'></i> <span></span>
					</div>
					<div class='codeEditor__footer__messages__error' xo-element='error'>
						<i class='icon-exclamation-sign'></i> <span></span>
					</div>
					<div class='codeEditor__footer__messages__info' xo-element='info'>
						<i class='icon-cogs'></i> <span></span>
					</div>
				</div>
				<div class='codeEditor__footer__buttons'>
					<div class='button green' xo-element='runButton'><i class='icon-play'></i> Run</div>
					<div class='button orange' xo-element='uploadButton'><i class='icon-cloud-upload '></i> Upload</div>
				</div>
			</div>
		</div>
	<% } %>

	<!-- Used to make the tooltip on the chart -->
	<div id='chart__tooltip'></div>

	<%if (user.account_type == 'admin') { %>
		<div class='adminbox'>
			<i class='icon-rocket'></i> ADMIN MODE
		</div>
	<% } %>

</body>



<!-- Schematics -->
<div class='inputContainer tile' xo-schematic="inputContainer">
	<div class='tile__title'>Inputs</div>
</div>
<div class='input ' xo-schematic='input'>
	<div class='input__value' ><span xo-element='value'></span></div>
	<div class='input__title' xo-element='title'></div>
	<div class='input__description' xo-element='description'></div>
</div>


<div class='outputContainer tile' xo-schematic='outputContainer'>
	<div class='tile__title'>Outputs</div>
</div>
<div class='output' xo-schematic='output'>

	<div class='output__deltaPos hint--left' xo-element='deltaPos'><i class='icon-chevron-up'></i></div>
	<div class='output__deltaNeg hint--left' xo-element='deltaNeg'><i class='icon-chevron-down'></i></div>

	<div class='output__value' ><span xo-element='value'></span></div>
	<div class='output__title' xo-element='title'></div>
	<div class='output__description' xo-element='description'></div>
</div>



<div class='table tile' xo-schematic='table'>
	<div class='tile__topbar'>
		<div class='tile__buttons'>
			<div data-hint='Download CSV' xo-element='downloadCSV'>
				<i class='icon-download-alt'></i>
			</div>
		</div>

		<div class='tile__title' xo-element='title'></div>
	</div>
	<div class='table__description' xo-element='description'></div>
	<div class='table__data' xo-element='columnContainer'></div>
	<div class='table__moreRowsButton' xo-element='moreRowsButton'>
		<i class='icon-plus'></i>
		 Add more
		 <input class='table__moreRowsButton__input' xo-element='moreRowsInput' type='text' value='20'></input> rows
	</div>
</div>
<div class='table__column' xo-schematic='tableColumn'>
	<div class='table__column__title' xo-element='title'></div>
	<div class='table__cellContainer' xo-element='cellContainer'></div>
	<div class='table__bottom table__cell' xo-element='bottom'></div>
</div>


<div class='chart tile' xo-schematic='chart'>
	<div class='tile__topbar'>
		<div class='tile__buttons'>
			<div data-hint='Minify' xo-element='mini'>
				<i class='icon-minus'></i>
			</div>
			<div data-hint='Small' xo-element='small'>
				<i class='icon-resize-small'></i>
			</div>
			<div data-hint='Large' xo-element='big'>
				<i class='icon-picture'></i>
			</div>
		</div>
		<div class='tile__title' xo-element='title'></div>
	</div>

	<div class='chart__description' xo-element='description'></div>
	<div class='chart__graph' xo-element='graph'></div>
</div>











<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-44198332-1', 'prestocalc.com');
  ga('send', 'pageview');

</script>



</html>