<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
	<!-- Libraries -->
	<script type="text/javascript" src="libs/jq.js"></script>
	<script type="text/javascript" src="libs/underscore.js"></script>
</head>
<body>
	<title>Register</title>

	<div class='message'>Not registered yet</div>
	<input id='name' type='text' placeholder='username'></input> name<br>
	<input id='email' type='text' placeholder='email'></input> email<br>
	<input id='fp' type='text' placeholder='fingerprint'></input> Fingerprint<br>
	<input id='cc' type='text' placeholder='cookie'></input> Cookie<br>
	<button id='go'>Register</button>
	<button id='check'>Check</button>


	<script type="text/javascript">

		$(document).ready(function(){

			$('#fp').val(Inked.fingerprint);
			$('#cc').val(Inked.collisionCookie);


			$('#go').click(function(){
				var username = $('#name').val();
				console.log('sending off data');
				$.ajax({
					url : '/api/user',
					type : 'POST',
					data : {
						email           : $('#email').val(),
						username        : $('#name').val(),
						collisionCookie : $('#cc').val(),
						fingerprint     : $('#fp').val()
					},
					success : function(data, textStatus, jqXHR ){
						alert('Registered');
						window.location = '/home';
					},
					error: function(data, textStatus, jqXHR ){
						console.log('ERROR', data, textStatus);
					}
				});

			});

		});






	</script>


</body>
</html>