{
  title       : 'New Calculator',
  description : 'Click to edit',
  icon        : 'icon-question',
  color       : 'silver',

  inputs : {
    capital : {
      title : 'Capital',
      description : 'How much money ya got',
      type  : Type.Money,
      initialValue : 500
    },
    age : {
      title : 'Age',
      type  : Type.Number,
      initialValue : 25
    }
  },

  tables : {
    sample : {
      title : 'Sample Chart',
      columns : {
        age : {
          title : 'Age',
          type : Type.Number,
          firstCell : function(){
            return Inputs.age;
          },
          generator : function(previousCellValue, index){
            return previousCellValue + 1;
          }
        },
        capitalDelta : {
          title : 'Capital Change',
          type  : Type.Money,
          firstCell : function(){
            return Inputs.capital;
          },
          generator : function(previousCellValue, index){
            return previousCellValue + Math.random()*100;
          }
        },
      }
    }
  },
  outputs : {
    breakeven : {
      title : 'Break-even Age',
      description : 'Age at which you made 10% of your initial capital',
      type : Type.Number,
      value : function(){
        var breakEvenAge = Tables.sample.age.find(function(age, index){
          if(Tables.sample.capitalDelta[index] > Inputs.capital * 1.10){
            return true;
          }
          return false;
        });
        return breakEvenAge;
      }
    }
  }
}
