body{
	background-color : #BDC3C7;
}

.topbar__home img{
	height : 45px;
}


.sidebar{
	float            : left;

	height           : 100%;
	width            : 100px;

	background-color : white;
	font-weight      : 300;
	text-align       : center;
	border-right     : 20px solid #1ABC9C;
}
	.sidebar__logo{
		height       : 70px;
		width        : 70px;
		margin-right : auto;
		margin-left  : auto;
	}
	.sidebar__text{
		font-size : 1.6em;
	}




.content{
	height       : 100%;
	max-width    : 1260px;
	margin-right : auto;
	margin-left  : auto;
	padding-top  : 50px;
}

	.content__title{
		margin-top    : 15px;
		margin-bottom : 25px;
		margin-left   : 25px;

		font-size     : 3.5em;
		font-weight   : 300;
	}
/*
	.content__groups{
		margin-bottom : 25px;
		margin-left   : 25px;
	}

	.group{
	}
		.group__title{
			margin-top     : 10px;
			padding-bottom : 5px;
			padding-left   : 20px;

			font-size      : 2em;
			color          : #2980B9;
			border-bottom  : 1px solid #2980B9;
		}

			.group__title i{
			}

			.group__text{
				margin-left : 8px;
			}
*/

	.content__search{
		display          : inline-block;

		width            : 380px;
		margin-top       : 20px;
		margin-left      : 10px;
		padding-left     : 20px;

		background-color : white;
		font-size        : 1.8em;
		color            : #444;
	}
		.content__search i{
			margin-right : 10px;
		}

		.content__search input{
			width       : 300px;
			padding     : 15px;

			font-size   : 1.1em;
			font-weight : 300;
			border      : 1px solid #fff;
		}




.calculatorContainer{
	height     : 100%;
	margin-top : 20px;
}





.calculator{
	display          : inline-block;
	vertical-align   : top;

	width            : 400px;
	margin           : 10px;
	padding-top      : 25px;
	padding-bottom   : 25px;

	cursor           : pointer;
	background-color : white;
}
	.calculator a{
		color           : inherit;
		text-decoration : none;
	}

	.calculator:hover{
		background-color : #eee;
	}

	.calculator__icon{
		float            : left;

		height           : 1.7em;
		width            : 1.7em;
		margin-right     : 25px;
		margin-left      : 25px;
		padding          : 0;

		background-color : #3498DB;
		font-size        : 2.7em;
		color            : white;
		line-height      : 1.7em;
		text-align       : center;
	}
		.calculator.teal .calculator__icon      {background-color:#16A085;}
		.calculator.green .calculator__icon     {background-color:#27AE60;}
		.calculator.blue .calculator__icon      {background-color:#2980B9;}
		.calculator.purple .calculator__icon    {background-color:#8E44AD;}
		.calculator.steel .calculator__icon     {background-color:#2C3E50;}
		.calculator.yellow .calculator__icon    {background-color:#F39C12;}
		.calculator.orange .calculator__icon    {background-color:#D35400;}
		.calculator.red .calculator__icon       {background-color:#C0392B;}
		.calculator.silver .calculator__icon    {background-color:#BDC3C7;}
		.calculator.grey .calculator__icon      {background-color:#7F8C8D;}


	.calculator__info{
		margin-left : 125px;
	}

		.calculator__info__title{
			margin-bottom : 15px;
			font-size     : 2em;
			font-weight   : 300;
		}
		.calculator__info__description{
			display   : inline-block;

			max-width : 700px;

			font-size : 1em;
			color     : grey;
		}

	.calculator__badges{
		position : absolute;
		top      : 10px;
		right    : 10px;
	}

		.calculator__delete{
			display  : none;
			cursor   : pointer;
			color    : black;
		}
			.calculator__delete:hover{
				color : red;
			}
			.calculator:hover .calculator__delete{
				display : inline-block;
			}

		.badge{
			display: none;
			font-size: 1.3em;
		}
			.badge__dev{
				color : #2C3E50;
			}
			.badge__beta{
				color : #27AE60;
			}
			.badge__silver{
				color : #95A5A6;
			}
			.badge__gold{
				color : #DAA520;
			}







/*
.newCalculator{
	border-bottom : 5px solid #eee;
}
*/