.chart{
	position: relative;
}

	.chart .title{
		padding-right: 45px;
	}

	.chart__graph{
		height : 500px;
		width  : 750px;
	}

	.chart__graph.small_chart{
		height : 300px;
		width  : 450px;
	}

	.chart__graph.mini{
		display:none;
	}

	.chart__resize{
		display: block;
		position: absolute;
		right : 10px;
		cursor: pointer;
	}

	.chart__mini{
		display: block;
		position: absolute;
		right : 30px;
		cursor: pointer;
	}


	#chart__tooltip{
		position         : absolute;
		display          : none;

		max-width        : 200px;
		padding          : 2px;
		padding          : 10px;

		opacity          : 0.75;
		background-color : #000;
		color            : #fff;
		text-align       : center;
		border           : 1px solid #fdd;
	}
