
.output{
	position       : relative;

	padding-right  : 15px;
	padding-bottom : 15px;
	padding-left   : 15px;
}

	.output__title{
		font-size   : 1.3em;
		font-weight : 300;
	}

	.output__description{
		margin-top  : 5px;
		margin-left : 8px;

		font-size   : 0.8em;
		color       : #727272;
	}

	.output__value{
		vertical-align : middle;
		float          : right;
		font-size      : 1.3em;
	}

	.output__deltaPos, .output__deltaNeg{
		position : absolute;
		display  : none;
		float    : right;
		top      : 2px;
		right    : -7px;
	}

		.output__deltaPos{
			color : #27AE60;
		}
		.output__deltaNeg{
			color : #C0392B;
		}
